.co-create-service {
    &__alert {
      margin-bottom: 0;
    }
  }
  
  .co-create-service__add-port-btn {
    margin-bottom: 15px;
  }
  
  .co-create-service__block_label label {
    display: block;
  }
  .co-create-service__block_label input {
    min-width: 100%;
  }
  